<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Example link -->
    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Replace camelCase elements with camel_case ones -->
            <update_rate>500</update_rate>
            <!-- Nombre de la articulación izquierda, por defecto es `left_joint` -->
            <left_joint>left_wheel_joint</left_joint>
            <!-- Nombre de la articulación derecha, por defecto es `right_joint` -->
            <right_joint>right_wheel_joint</right_joint>
            <!-- La distancia desde el centro de una rueda hasta la otra, en metros, por defecto es 0.34 m -->
            <wheel_separation>0.093</wheel_separation>
            <!-- Diámetro de las ruedas, en metros, por defecto es 0.15 m -->
            <wheel_diameter>0.028</wheel_diameter>
            <!-- Marco de referencia de la odometría, por defecto es `odom` -->
            <odometry_frame>odom</odometry_frame>

            <!-- Máximo torque que las ruedas pueden producir, en Nm, por defecto es 5 Nm -->
            <max_wheel_torque>0.007</max_wheel_torque>
            <!-- Aceleración de las ruedas, en rad/s^2, por defecto es 0.0 rad/s^2 -->
            <max_acceleration>2.5</max_acceleration>

        </plugin>
    </gazebo>
</robot>